body {
    background: red;
    p {
        color: red;
    }
}

.block {
    position: static;
    .item {
        position: static;
        a {
            position: static;
        }
    }
    .test {
        position: static;
    }
}