.section-news{
    font-family: 'Proxima Nova';
    &__header{
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        background-color: #fbfbfb;
        height: 62px;
        border-bottom: 1px solid #ddd;
        color: #63727a;
        &__item__1 { 
            border-right:  1px solid #ddd;
        }
    }
    &__article{
        .name {
            
        }

    }
}

.table_fixed {
    width: 100%;
    table-layout: fixed;
}